#list-admin {
	display: flex;
	flex-direction: row;
}

#list-admin > div {
	margin-right: 20px;
}

#list-admin > div.detail {
	margin: 8px 25px 0 0;
}

#list-admin > button {
	position: fixed;
	bottom: 5px;
	left: 5px;
}

#list-admin h3 {
	margin-top: 0;
}

#list-admin input.textbox-name {
	display: block;
	font-size: 18px;
	width: 100%;
	margin: 2px 0 6px 0;
	border-radius: 5px;
	padding: 2px;
}

#list-admin input.textbox-header {
	display: block;
	font-size: 12px;
	width: 100%;
	margin: 2px 0 6px 0;
	border-radius: 3px;
	padding: 2px;
}

#list-admin textarea {
	display: block;
	margin-bottom: 6px;
}

#list-admin div.item {
	margin: 0 0 2px 0;
	padding: 4px;
	border-radius: 4px;
	border: 1px solid lightgray;
	display: flex;
	flex-direction: row;
}

#list-admin div.select {
	cursor: grab;
}

#list-admin div.select:hover {
	background-color: #a0cfff;
	cursor: grab;
}

#list-admin div.selected {
	background-color: #a0ffcf;
}

#list-admin textarea {
	resize: none;
}

#list-admin div.add {
	background-color: lightgray;
	cursor: pointer;
}

#list-admin div.item button {
	position: relative;
	top: 2px;
	cursor: pointer;
}

#list-admin div.add button {
	margin-right: 5px;
}

#list-admin div.select button {
	margin-left: 5px;
}

#list-admin p {
	display: inline;
	margin: 0;
	flex-grow: 1;
}