#competitions {
  text-align: center;
}

#competitions > h1 {
	margin-top: 40px;
}

#competitions > div {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
}

#competitions > div.competition-list {
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

#competitions > div.competition-list-compact {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#competitions div.competition-tile {
	margin: 3px;
	padding: 7px;
	border-radius: 4px;
	color: white;
	background-color: #a0cfff;
	width: 30em;
}

#competitions > div.create-competition {
	margin: 3px auto 3px auto;
}

#competitions > div > div.hidden {
	border: 1px solid grey;
	background-color: white;
}

#competitions > div > div.closed {
	background-color: #a0cfa0;
}

#competitions > div > div.open {
	background-color: #a0cfff;
}

#competitions a {
	text-decoration: none;
}

#competitions .subtitle {
	font-size: smaller;
	color: blue;
}

#competitions .event-title {
	display: flex;
}

#competitions .competition-link {
	font-size: 20px;
	flex-grow: 1;
	margin: 3px;
}

#competitions div.competition-group {
	display: flex;
	flex-direction: row;
}

#competitions div.group-text {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.group-icon {
	max-width: 40px;
	max-height: 40px;
}

@media only screen and (max-width: 600px) {
	#competitions h1 {
		margin: 2vh 0 1vh 0;
	}

	#competitions div.competition-tile {
		margin: 2px;
		padding: 4px;
		border-radius: 4px;
		color: white;
		background-color: #a0cfff;
		max-width: 95%;
	}
}