#saveButton {
	margin-bottom: 15px;
	padding: 8px 12px;
	border: none;
	border-radius: 15px;
}

.competitionInfo th {
	padding-right: 20px;
}

.competitionInfo input {
	height: 30px;
	padding: 0px 5px 0px 5px;
	vertical-align: bottom;
}

.competitionInfo label {
	height: 30px;
	line-height: 30px;
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle;
}

.eventSelector {
	height: 30px;
	margin: 5px 0px 5px 0px;
}

.eventList > p {
	margin: 2px;
	margin-top: 10px;
	font-weight: bold;
}

.event {
	display: inline-block;
	margin: 2px auto 2px 2px;
	padding: 7px;
	border-radius: 4px;
	color: white;
	background-color: #a0cfff;
}

.eventTitle {
	display: flex;
}

.eventTitle > span {
	flex-grow: 1;
}

.eventTitle > button {
	flex-grow: 0;
	background-color: #ff5050;
}

.eventInfo {
	margin-right: 5px;
	height: 30px;
}

.react-date-picker {
	background-color: white;
}

.addEvent {
	margin-top: 5px;
}

.addEventButton {
	padding: 0;
	background-color: #4CAF50;
	border: none;
	font-size: 12px;
	color: white;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	text-align: center;
	vertical-align: middle;
	margin-left: 5px;
}