.registration-link {
    display: flex;
    justify-content: left;
    align-items: baseline;
    margin-bottom: 2px;
}

.registration-button {
    position: relative;
    background-color: darkslategrey;
    color: white;
    padding: 5px;
    border-radius: 50%;
    border: none;
    width: 25px;
    height: 25px;
    max-width: 25px;
    max-height: 25px;
    margin: 0 5px 0 0;
    font-size: 13px;
    font-family: Arial;
}

a.registration-button {
    text-decoration: none;
    box-sizing: border-box;
    align-items: flex-start;
    line-height: 15px;
}

.registration-button:hover {
    color: black;
    background-color: lightgray;
}