#results table {
	margin: 0px;
	margin-top: 10px;
}

#results table > thead > tr {
	background-color: brown;
	color: white;
}

#results table > thead > tr > th {
	padding: 5px;
}

#results table > thead > tr > th.round {
	text-align: center;
}

#results table > tbody > tr > td {
	padding: 3px 5px 3px 5px;
}

#results .score {
	text-align: center;
}

#results input.score {
	width: 20px;
}

#results tr.dirty {
	background-color: lightgreen;
}

#results button.disabled {
	background-color: lightgray;
}

#selections {
	background-color: aquamarine;
	display: flex;
	flex-direction: row;
	margin-bottom: 5px;
}

#selections div {
	display: inline;
	margin-right: 15px;
}

#selections select {
	margin-left: 10px;
}