#event-selector {
	margin-bottom: 5px;
}

#result thead {
	background-color: brown;
	color: white;
}

#result tr.first td {
	padding-top: 20px;
}

#result th,td {
	padding: 3px;
	text-align: center;
}

#result .left {
	text-align: left;
}

#result tbody tr.even {
	background-color: bisque;
}

#result .toolbar {
	margin-bottom: 5px;
}

#result {
	position: relative;
}

#result-filter {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: gray;
	border: 1px solid lightgray;
	padding: 5px;
	border-radius: 5px;
	color: white;
	opacity: 0.5;
}

#filter-label {
	font-size: small;
	margin: 2px 0;
}

#roster-filter:hover {
	opacity: 1;
}