#event-selector {
	margin-bottom: 5px;
}

#result thead {
	background-color: brown;
	color: white;
}

#result tr.first td {
	padding-top: 20px;
}

#result th,td {
	padding: 3px;
	text-align: center;
}

#result .left {
	text-align: left;
}

#result tbody tr.even {
	background-color: bisque;
}

#result .toolbar {
	margin-bottom: 5px;
}
