.roster {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	position: relative;
}

.rv-event {
	width: 400px;
	max-width: 100%;
	margin: 3px;
}

.rv-squad {
	margin-top: 2px;
	border: 1px solid darkgray;
	border-radius: 3px;
}

.rv-squad-header {
	color: white;
	background-color: green;
	padding: 3px;
	border-radius: 3px 3px 0 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.rv-squad-list {
	display: grid;
	grid-auto-flow: row;
	padding: 2px;
}

.rv-participant {
	margin: 0 5px 0 5px;
}

.rv-class {
	text-align: right;
}

.drop-target {
	color: black;
	background-color: lightblue;
}

.full {
	background-color: orange;
}

.over-capacity {
	background-color: brown;
}

#roster-filter {
	position: absolute;
	top: 5px;
	left: 5px;
	background-color: gray;
	border: 1px solid lightgray;
	padding: 5px;
	border-radius: 5px;
	color: white;
	opacity: 0.5;
}

#filter-label {
	font-size: small;
	margin: 2px 0;
}

#roster-filter:hover {
	opacity: 1;
}

#roster-view button {
	position: fixed;
	bottom: 5px;
	right: 5px;
}

#roster-view h3 {
	margin: 2px 0 2px 0;
}

#roster-view p.subtitle {
	margin: 2px 0 10px 0;
	font-size: x-small;
}