.helpButton {
	font-weight: bolder;
	color: white;
	background-color: #3f3f3f;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	padding: 4px;
	position: absolute;
	right: 5px;
	top: 5px;
	text-align: center;
	vertical-align: middle;
	font-size: 15px;
	box-sizing: border-box;
	display: none;
}