#results button.disabled {
	background-color: lightgray;
}

#selections {
	display: flex;
	flex-direction: row;
	margin-bottom: 5px;
}

#selections div {
	display: inline;
	margin-right: 15px;
}

#selections select {
	margin-left: 10px;
}

#stage-information {
	background-color: lightseagreen;
	display: flex;
	flex-direction: row;
	margin-bottom: 5px;
}

#stage-information div {
	display: inline;
	margin-right: 15px;
}

.report-buttons {
	position: fixed;
	bottom: 10px;
	left: 10px;
	display: flex;
	flex-direction: row;
}