#event-selector {
	margin-bottom: 5px;
}

#result thead {
	background-color: brown;
	color: white;
}

#result tr.first td {
	padding-top: 20px;
}

#result th,
td {
	padding: 3px;
	text-align: center;
}

#result .left {
	text-align: left;
}

#result tbody tr.even {
	background-color: bisque;
}

#result .toolbar {
	margin-bottom: 5px;
}

#result {
	position: relative;
}

#result-tools {
	display: grid;
	grid-template-areas:
		"event-selector result-filter"
		"division-selector result-filter";
}

#result-filter {
	display: inline;
	grid-area: result-filter;
	justify-self: end;
	align-self: start;
	background-color: gray;
	border: 1px solid lightgray;
	padding: 5px;
	border-radius: 5px;
	color: white;
	opacity: 0.5;
}

#filter-label {
	font-size: small;
	margin: 2px 0;
}

#roster-filter:hover {
	opacity: 1;
}

#event-selector {
	grid-area: event-selector;
}

#division-selector {
	grid-area: division-selector;
}

@media only screen and (max-width:600px) {
	#result-tools {
		display: grid;
		grid-template-areas:
			"event-selector event-selector"
			"division-selector result-filter";
	}}