.App-logo {
  animation: App-logo-spin infinite 20s linear;
	height: 80px;
	vertical-align: middle;
}

.Gpk-logo {
	height: 60px;
	margin: 10px 30px 10px 10px;
	vertical-align: middle;
}

.App-header {
  background-color: #222;
  padding: 5px;
  color: white;
}

.App-title {
	font-size: 2em;
	margin: 0px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.anime {
	border-radius: 50%;
	height: 100px;
	width: 100px;
	display: inline-block;
	vertical-align: middle;
	background: red;
	background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
	background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
	/*animation-name: App-logo-spin;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;*/
}

.globaltool {
	font-size: 20px;
	border-radius: 15px;
	float: right;
	vertical-align: middle;
	margin-top: 10px;
}