.medium-round {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: none;
	background-color: #afafaf;
	vertical-align: middle;
}

.arrow-down::before {
	content:'';
	border-top: 8px solid black;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	position: absolute;
	top: 7px;
	left: 3.5px;
	/*transform: translate(-7px, -4px);*/
}

.arrow-up::before {
	content: '';
	border-bottom: 8px solid black;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	position: absolute;
	top: 5px;
	left: 3.5px;
	/*transform: translate(-7px, -5px);*/
}

/* Working solution for size classes */
.x-large {
	margin: 30px;
	transform: scale(4);
}