.button {
	margin: 2px;
	padding: 5px 10px;
	height: 30px;
	display: inline-block;
	vertical-align: middle;
	border: none;
	border-radius: 15px;
	/* Redundant? */
	background-color: #3f3f3f;
	color: #f5f5f5;
	border-color: #f5f5f5;
}

.disabled {
	opacity: 0.7;
}

[class*="button-"] {
	background-color: #3f3f3f;
	color: #f5f5f5;
	border-color: #f5f5f5;
	margin: 1px;
	padding: 0px;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	border: none;
	border-radius: 50%;
	display: inline-block;
	position: relative;
}

.button-close::before, .button-close::after {
	position: absolute;
	left: 9.2px;
	top: 1.95px;
  content: ' ';
  height: 15px;
	width: 0px;
	border-width: 1px;
	border-style: solid;
	background-color: #f5f5f5;
}

.button-close::before {
  transform: rotate(45deg);
}

.button-close::after {
  transform: rotate(-45deg);
}

.button-add::before, .button-add::after {
	position: absolute;
	left: 9.25px;
	top: 4px;
  content: ' ';
  height: 11px;
	width: 0px;
	border-width: 1px;
	border-style: solid;
	background-color: #f5f5f5;
}

.button-add::before {
  transform: rotate(90deg);
}

.button-previous::before, .button-previous::after {
  content: ' ';
	position: absolute;
	left: 5.5px;
	top: 9px;
  height: 7px;
	width: 0px;
	border-width: 1px;
	border-style: solid;
	background-color: #f5f5f5;
	transform-origin: 50% 1px;
}

.button-previous::before {
  transform: rotate(-135deg);
}

.button-previous::after {
  transform: rotate(-45deg);
}

.button-next::before, .button-next::after {
	position: absolute;
	left: 13px;
	top: 9px;
  content: ' ';
  height: 7px;
	width: 0px;
	border-width: 1px;
	border-style: solid;
	background-color: #f5f5f5;
	transform-origin: 50% 1px;
}

.button-next::before {
  transform: rotate(135deg);
}

.button-next::after {
  transform: rotate(45deg);
}

.button-expand::before, .button-expand::after {
  content: ' ';
	position: absolute;
	left: 9.5px;
	top: 13px;
  height: 7px;
	width: 0px;
	border-width: 1px;
	border-style: solid;
	background-color: #f5f5f5;
	transform-origin: 50% 1px;
}

.button-expand::before {
  transform: rotate(225deg);
}

.button-expand::after {
  transform: rotate(135deg);
}

.button-collapse::before, .button-collapse::after {
  content: ' ';
	position: absolute;
	left: 9.5px;
	top: 6.5px;
  height: 7px;
	width: 0px;
	border-width: 1px;
	border-style: solid;
	background-color: #f5f5f5;
	transform-origin: 50% 1px;
}

.button-collapse::before {
  transform: rotate(-45deg);
}

.button-collapse::after {
  transform: rotate(45deg);
}

.button-up::before {
	content: '';
	border-bottom: 8px solid #f5f5f5;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	position: absolute;
	top: 5px;
	left: 3.5px;
}

.button-down::before {
	content:'';
	border-top: 8px solid #f5f5f5;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	position: absolute;
	top: 7px;
	left: 3.5px;
}

.button-left::before {
	content:'';
	border-left: 8px solid #f5f5f5;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	position: absolute;
	top: 3.5px;
	left: 7px;
}

.button-right::before {
	content:'';
	border-right: 8px solid #f5f5f5;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	position: absolute;
	top: 3.5px;
	left: 5px;
}

.small {
	transform: scale(0.75);
	margin: -2px;
}

.large {
	transform: scale(1.5);
	margin: 6px;
}

.x-large {
	transform: scale(2);
	margin: 11px;
}

.deleteButton {
	color: #f5f5f5;
	border-color: #f5f5f5;
	background-color: #af3f3f;
	vertical-align: middle;
	text-align: center;
}

/* ToDo: Should not be generic; specific to registration rows */
.scheduleButton {
	background-color: #f5f5f5;
	border: 1px solid lightgray;
}

.cookieButton {
	padding: 5px 15px;
	margin-top: 5px;
	margin-right: 10px;
	border-radius: 15px;
	float: right;
	vertical-align: middle;
}