.competitionInfo th {
	padding: 0 20px 5px 0;
}

.competitionInfo td {
	padding: 0 0 5px 0;
}

.competitionInfo input {
	position: relative;
	height: 30px;
	padding: 0px 5px 0px 5px;
	vertical-align: bottom;
}

.competitionInfo label {
	height: 30px;
	line-height: 30px;
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle;
}

.add-event {
	margin: 10px 0 5px 0;
	display: inline-flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

#addEventButton {
	padding: 0;
	border: none;
	font-size: 12px;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	text-align: center;
	vertical-align: middle;
	margin-right: 5px;
}

#competition-properties {
	display: inline-grid;
	grid-template: 
		"competition-group-label competition-group-input competition-desc-label"
		"competition-name-label competition-name-input competition-desc-input"
		"competition-short-label competition-short-input competition-desc-input"
		"competition-status-label competition-status-input competition-desc-input"
		"competition-50pct-input competition-50pct-label competition-desc-input";
	margin-top: 5px;
}

#competition-properties > div {
	margin: 5px 20px 0 0;
}

#competition-properties .property-label {
	font-weight: bold;
}