.event {
	display: inline-block;
	margin: 2px 2px 2px 0;
	padding: 7px;
	border-radius: 4px;
	color: white;
	background-color: #a0cfff;
}

.eventTitle {
	display: flex;
}

.eventTitle > input {
	color: inherit;
	background-color: inherit;
	border: none;
	flex-grow: 1;
	margin: 0 15px 3px 0;
	font-size: 1.2em;
}

.eventTitle > input:hover {
	background-color: #90bfef;
}

.eventTitle > button {
	flex-grow: 0;
}

.eventProperties {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}

.react-date-picker {
	background-color: white;
	margin-right: 5px;
}

.event-props-delete {
	margin-left: 5px;
}

.eventProperty {
	box-sizing: border-box;
	height: 30px;
	margin: 0;
}

.label-box {
	margin-top: 2px;
}

.fee {
	width: 7ex;
	text-align: center;
}