.event {
	display: inline-block;
	margin: 2px 2px 2px 0;
	padding: 7px;
	border-radius: 4px;
	color: white;
	background-color: #a0cfff;
}

.eventTitle {
	display: flex;
}

.eventTitle > input {
	color: inherit;
	background-color: inherit;
	border: none;
	flex-grow: 1;
	margin: 0 15px 3px 0;
	font-size: 1.2em;
}

.eventTitle > input:hover {
	background-color: #90bfef;
}

.eventTitle > button {
	flex-grow: 0;
	background-color: #ff5050;
}

.eventProperty {
	display: inline-block;
	position: relative;
}

.eventInfo {
	margin-right: 5px;
	height: 30px;
}

.react-date-picker {
	background-color: white;
	margin-right: 5px;
}

.sidebar {
	color: black;
	z-index: 5;
	display: block;
	position: absolute;
	background-color: white;
	padding: 5px;
	border: 1px dotted red;
	top: 30px;
	left: 0;
	max-height: 80vh;
	overflow-y: auto;
}

.sidebar h1 {
	font-size: 1.2em;
	margin: 5px 0 10px 0;
}

.pick {
	padding: 2px;
	border-radius: 4px;
}

.pick:hover {
	background-color: #afafaf;
	cursor: pointer;
}

.drop-clickcatcher {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}