.event {
	display: inline-block;
	margin: 2px auto 2px 2px;
	padding: 7px;
	border-radius: 4px;
	color: white;
	background-color: #a0cfff;
}

.eventTitle {
	display: flex;
}

.eventTitle > span {
	flex-grow: 1;
}

.eventTitle > button {
	flex-grow: 0;
	background-color: #ff5050;
}

.eventInfo {
	margin-right: 5px;
	height: 30px;
}

.react-date-picker {
	background-color: white;
	margin-right: 5px;
}