.input-wrapper {
	margin: 3px 5px 0 0;
}

.input-wrapper label {
	display: none;
}

select.default {
	color: #999;
}

select.default option {
	color: black;
}

select.default option.default {
	color: #999;
}

#registration-contact .registration-header {
	display: block;
	font-weight: bold;
	padding: 2px;
	border: 1px solid black;
}

#registration-contact .registration-contact-inputs {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#registration-contact .input-wrapper {
	display: flex;
	flex-direction: row;
	margin: 3px 0 0 0;
}

#registration-contact .input-wrapper label {
	display: inline;
	margin: 3px 0 0 0;
	padding: 2px;
	width: 75px;
}

#registration-contact .input-wrapper input {
	width: 200px;
	margin: 3px 10px 0 0;
}

#registration-contact div {
	margin: 3px 0 0 0;
}

.registration-contact-input {
	display: inline-flex;
	flex-direction: row;
}

.registration-contact-input label {
	margin: 3px 5px 0 0;
}

.registration-contact-input input {
	margin: 3px 5px 0 0;
}

@media only screen and (max-width:600px) {
	.input-wrapper {
		display: flex;
		flex-direction: column;
	}

	.input-wrapper label {
		display: inline-block;
		font-size: xx-small;
		margin: 5px 5px 0 0;
	}

	.input-wrapper input {
		border: none;
		border-bottom: 1px solid #3F3F3F;
		width: 75vw;
		margin: 3px 5px 0 0;
	}

	#registration-contact .registration-header {
		font-weight: bold;
		border: none;
	}

	#registration-contact .input-wrapper {
		display: flex;
		flex-direction: column;
		font-size: xx-small;
	}

	#registration-contact .input-wrapper label {
		font-size: xx-small;
	}

	#registration-contact .input-wrapper input {
		width: 75vw;
		border: none;
		border-bottom: 1px solid #3f3f3f;
	}
}