/* Participant picker */

table.picker {
	margin: 5px 15px;
	border-spacing: 0px;
	text-align: left;
}

tr.picker {
	cursor: pointer;
}

tbody > tr.picker:hover {
	background-color: yellow;
}

tr.picker > th {
	padding: 3px 10px;
}

tr.picker > td {
	padding: 3px 10px;
}

tr.picker .pp-delete {
	display: none;
}

tr.picker:hover .pp-delete {
	display: inline;
}