.major {
  border: 1px solid black;
}

table {
  border-spacing: 0px;
}

tr.registration {
  padding: 0px;
}

tr.error {
	background-color: crimson;
}

tr.registration {
	vertical-align: top;
}

tr.registration ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

th {
  margin: 0px;
  text-align: left;
  padding: 2px;
}

.entry {
  color: white;
  background-color: #7f0000;
}

th.vert {
  /*border: 1px solid #7f7fff;*/
  height: 55px;
  vertical-align: bottom;
  text-align: left;
}

th.vert:last-child {
	width: 55px;
}

th.vert > div {
	/*border: 1px dotted white;*/
	transform-origin: left bottom;
  transform:
      translate(12px, 0px)
      rotate(315deg);
  width: 20px;
}

tr.registration td.center {
	text-align: center;
}

tr.registration td.vcenter {
	vertical-align: middle;
}

#registration {
	padding-bottom: 10px;
}

/*
tr.registration td button.scheduleButton, tr.registration td select, tr.registration td input {
	box-sizing: border-box;
	height: 30px;
}
*/