.major {
  border: 1px solid black;
}

table {
  border-spacing: 0px;
}

tr.registration {
  padding: 0px;
}

tr.error {
	background-color: crimson;
}

tr.registration {
	vertical-align: top;
}

tr.registration ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

th {
  margin: 0px;
  text-align: left;
  padding: 2px 5px;
}

.entry {
  color: white;
  background-color: #7f0000;
}

th.vert {
  /*border: 1px solid #7f7fff;*/
  height: 55px;
  vertical-align: bottom;
  text-align: left;
}

th.vert:last-child {
	width: 55px;
}

th.vert > div {
	/*border: 1px dotted white;*/
	transform-origin: left bottom;
  transform:
      translate(12px, 0px)
      rotate(315deg);
  width: 20px;
}

tr.registration td.center {
	text-align: center;
}

tr.registration td.vcenter {
	vertical-align: middle;
}

#registration {
	padding-bottom: 10px;
}

#registrationContact .header {
	display: block;
	padding: 2px;
	border: 1px solid black;
}

#registrationContact div {
	margin: 3px 0 0 0;
	display: inline-flex;
}

#registrationContact label {
	margin: 3px 5px 0 0;
}

#registrationContact input {
	margin: 3px 5px 0 0;
}

.team-name-header, .team-selection-header {
	padding: 2px;
}

.team-member-header {
	background-color: #7f0000;
	color: white;
	padding: 2px  5px 2px 2px;
}

.team-input label {
	display: none;
}

.team-input input, .team-input div {
	margin: 3px 5px 0 0;
}

.major-header {
	grid-row: 1;
}

.minor-header {
	grid-row: 2;
}

.participant-header {
	display: none;
}

@media only screen and (max-width:600px) {
	#registrationContact p {
		width: 80px;
	}

	.registration-header {
		font-weight: bold;
		border: none;
	}
	
	.registration-contact-input {
		display: flex;
		flex-direction: column;
	}
	
	.registration-contact-input label {
		font-size: xx-small;
	}
	
	.registration-contact-input input {
		border: none;
		border-bottom: 1px solid #3f3f3f;
	}

	.minor-header {
		display: none;
	}

	.team-input {
		display: inline-flex;
		flex-direction: column;
	}
	
	.team-input label {
		display: inline-block;
		font-size: xx-small;
	}

	.team-input input {
		border: none;
		border-bottom: 1px solid #3f3f3f;
	}
	
	.participant-header {
		display: block;
		font-size: xx-small;
	}
}