.score-sheet {
	display: grid;
	align-items: stretch;
	text-align: center;
	grid-template-columns:  [name-start] auto repeat(6, [target-start] auto) [total-start] auto auto 1fr;
	font-size: large;
	border-left: 1px solid black;
}

.score-sheet .field {
	grid-template-columns:  [name-start] auto repeat(6, [target-start] auto) [total-start] auto auto 1fr;
}

.score-sheet .header {
	background-color: brown;
	color: white;
	font-weight: bold;
	padding: 3px;
	border-top: 1px solid black;
}

.score-sheet .align-left {
	text-align: left;
}

.score-sheet .participant {
	padding: 3px;
	background-color: white;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

.score-sheet .even {
	background-color: cadetblue;
}

.score-sheet .input input {
	border: 1px solid black;
}

.score-sheet .score-button {
	margin: 0px 2px;
	padding: 0px 4px;
	border-radius: 50%;
	border: none;
	cursor: pointer;
}

.score-sheet .selected {
	background-color: #3f3f3f;
	color: white;
}

.score-sheet .score-text {
	size: 3;
	margin: 0px 2px;
	padding: 3px 4px;
	border: none;
	border-radius: 3px;
	text-align: center;
	width: 25px;
}

.score-sheet .score-edit {
	size: 3;
	margin: 0px 2px;
	padding: 3px 4px;
	border: none;
	border-radius: 3px;
	text-align: center;
	width: 25px;
}

.score-sheet .error {
	background-color: red;
}