.schedule-properties {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.schedule-table {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.schedule-table table {
	box-sizing: border-box;
	border: 1px solid grey;
	margin-bottom: 5px;
}

.schedule-table thead {
	display: block;
	width: 100%;
}

.schedule-table tbody {
	width: 100%;
	display: block;
	height: 300px;
	max-height: 300px;
	overflow-y: auto;
	overflow-x: none;
}

.schedule-table .schedule-start-time {
	min-width: 3em;
	max-width: 3em;
	width: 3em;
}

.schedule-table .schedule-slots {
	min-width: 4.5em;
	max-width: 4.5em;
	width: 4.5em;
}

.schedule-table .schedule-division {
	min-width: 3.5em;
	max-width: 3.5em;
	width: 3.5em;
}

.schedule-table .schedule-mix {
	min-width: 4em;
	max-width: 4em;
	width: 4em;
}

.schedule-table .schedule-delete {
	min-width: 2em;
	max-width: 2em;
	width: 2em;
}

.schedule-table .schedule-pad {
	min-width: 0;
	max-width: 1.5em;
	width: 1.5em;
}

.schedule-table th, .schedule-table td {
	text-align: center;
	padding: 3px 0;
	border-bottom: 1px solid #7f7f7f;
}

.schedule-table tbody tr:nth-child(odd) {
	background: #cfcff5;
}

.schedule-tools {
	margin-bottom: 10px;
}

.schedule-property {
	margin: auto;
}

input.schedule-property {
	box-sizing: border-box;
	min-height: 22px;
	text-align: center;
	width: 4em;
}

/* Necessary for specitivity... */
button.schedule-property {
	margin: auto;
}

td.schedule-delete button {
	margin: auto 0;
}