.modal-box-content th, td {
	text-align: center;
	padding: 3px;
	border-bottom: 1px solid #7f7f7f;
}

.modal-box-content tr:nth-child(even) {
	background: #cfcff5;
}

.schedule-tools {
	margin-bottom: 10px;
}

.schedule-property {
	box-sizing: border-box;
	height: 22px;
	text-align: center;
}

input.schedule-property {
	width: 4em;
}