.squad-picker {
	border-radius: 10px;
	background-color: #a0cfff;
	position: fixed;
	margin: auto 0;
	padding: 0 10px 10px 10px;
	right: 20px;
	top: 90px;
	max-height: calc(100vh - 120px);
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 50;
}

.squad-picker-header {
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: center;
}

.squad-picker-header h1 {
	display: inline;
	margin: 10px;
	padding: 0;
	font-size: 1.5em;
	flex-grow: 1;
}

.squad-picker-header button:hover {
	background-color: lightgray;
}

.squad-picker td {
	padding: 2px 4px;
}

.squad-picker .full {
	color: white;
	background-color: darkred;
}

.squad-picker .partial {
	background-color: orange;
}

.squad-picker .empty {
	background-color: lightgreen;
}

.squad-picker .unavailable {
	color: white;
	background-color: darkgray;
	opacity:0.7;
}

.squad-picker .participant {
	background-color: white;
}

.squad-picker .time {
	width: 10em;
}

.squad-picker tbody tr.selectable:hover {
	background-color: cornflowerblue;
}

.squad-picker tbody tr button:hover {
	background-color: lightgray;
}