#stage-properties {
	display: grid;
	grid-template-areas: "num shots targets value max min";
	border-top: 1px solid black;
	border-left: 1px solid black;
}

#stage-properties div {
	text-align: center;
	padding: 3px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

#stage-properties .header {
	background-color: brown;
	color: white;
}

#stage-properties .hidden {
	padding: 0;
	border: none;
}

#stages .tools {
	display: flex;
	width: 100%;
	flex-direction: row-reverse;
}

@media screen and (max-width: 600px) {
	#stages {
		grid-template-areas: 
			"num"
			"shots"
			"targets"
			"value"
			"max"
			"min";
		grid-auto-flow: column;
	}
}