.modal-shadow {
	z-index: 5;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.3);
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-shadow * {
	z-index: 10;
	flex-grow: 0;
}

.modal-box {
	color: black;
	background-color: white;
	display: inline-block;
	border-radius: 10px;
}

.modal-box-title {
	padding: 10px;
	color: white;
	background: black;
	border-radius: 10px 10px 0 0;
	display: flex;
}

.modal-box-title button {
	flex-grow: 0;
	box-sizing: content-box;
	border: 1.5px solid #9f9f9f;
	background-color: black;
}

.modal-box-title button:hover {
	background-color: #3f3f3f;
}

.modal-box-title h1 {
	margin: 0 20px 0 0;
	font-size: 1.2em;
	flex-grow: 1;
}

.modal-box-content {
	padding: 10px;
	border-radius: 0 0 10px 10px;
}