.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.registration {
  margin: 10px;
}

.major {
  border: 1px solid black;
}

table {
  border-spacing: 0px;
}

tr {
  padding: 0px;
}

th {
  margin: 0px;
  text-align: left;
  padding: 2px;
}

th.vert {
  height: 55px;
  vertical-align: top;
  text-align: left;
  border: 1px solid #7f7fff;
  color: white;
  background-color: #7f0000;
}

th.vert > div {
  /*transform-origin: left bottom;*/
  transform:
      translate(0px, 30px)
      rotate(270deg);
  width: 20px;
}

.left {
  text-align: left;
}

.toolButton {
  margin-top: 5px;
}

#addButton {
  margin-left: 1px;
}

#registerButton {
  margin-left: 2px;
}

#summary {
  padding: 3px;
  text-align: left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
