.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.registration {
  margin: 10px;
}

input {
  margin: 5px;
}

.major {
  border: 1px solid black;
}

th {
  text-align: left;
  padding: 2px;
}

th.vert {
  height: 60px;
  text-align: left;
  border: 1px solid blue;
  color: white;
  background-color: #7f0000;
}

th.vert > div {
  transform:
    translate(0px, 15px)
    rotate(270deg);
  width: 20px;
}

#summary {
  padding: 3px;
  text-align: left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
