/* Application */

.App {
  text-align: left;
}

/* Information elements */

.fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.fullscreen + * {
	font-weight: bold;
	color: whitesmoke;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	/*height: 40px;*/
	background: black;
	color: white;
	font-weight: bold;
}

.footer > div {
	height: 40px;
	padding: 5px;
	position: relative;
}

.error {
	background: #5f1f1f;
	opacity: 0.7;
}

.info {
	background: green;
	opacity: 0.7;
}

#cookieAlert {
	position: relative;
	height: 40px;
	width: 100%;
	padding: 5px;
}

.shadow {
	background: #1f1f1f;
	opacity: 0.6;
}

.centered {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.modal {
	padding: 5px;
	background-color: white;
	opacity: 1.0;
}

/* Main form */

.content {
	margin: 10px;
	margin-bottom: 15px;
	min-height: 100%;
	overflow-y: auto;
}

.left {
  text-align: left;
}

.center {
	margin: auto;
}

.checkbox {
	vertical-align: middle;
}

.buttons {
	margin: 10px;
}

@media only screen and (max-width:600px) {
	.bloat {
		display:none;
	}
}